body {
  margin: 0px;
}

#top {
  display: block;
  background-color: #0078D7;
  padding: 0.5% 0% 0.5% 1%;
}

#top a {
  display: inline-block;
  width: 28%;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
}

#top > i {
  display: inline-block;
  width: 3%;
  color: white;
  font-size: 12px;
}

.search {
  display: inline-block;
  width: 28%;
  background-color: #badef7;
  border-radius: 2px;
  padding: 0.15%;
  height: 1.4em;
  vertical-align: center;
}

#left-navigation {
  list-style: none;
}

#login-name {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-size: 10px;
  padding: 0.55%;
}

.space {
  display: inline-block;
  width: 25%;
}

.search input {
  border: 0px;
  background-color: #badef7;
  width: 85%;
  outline: none;
}

#center-title span {
  display: inline-block;
  padding: 2% 0% 2% 0%;
}

#center-title i {
  display: inline-block;
  padding-left: 2%;
}

#new-sub-task-input {
  outline: none;
  font-size: 10px;
  width: 94%;
  border: none;
  padding: 1% 0% 0% 1%;
}

#search-icon {
  color: blue;
  background-color: #badef7;
  font-size: 12px;
  padding-left: 1%;
}

#left {
  background-color: #f4f4f4;
  display: inline-block;
  width: 21.7%;
  height: 365px;
  overflow: scroll;
}

#toggle-icon {
  padding: 8% 10% 0% 7%;
  color: #ada5f9;
}

#left i {
  display: inline-block;
  padding: 4% 6% 4% 7%;
  width: 5%;
  color: 767678;
}

.new-task-category-input {
  font-size: 10px;
}

.new-task-category-input i {
  padding-right: 10px;
}

#icon-add-new-task {
  color: #5581c7;
}

.task-name-add-step {
  background-color: white;
  margin: 2% 0% 2% 0%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.right-add-to-my-day {
  background-color: white;
  margin: 8% 0% 2% 0%;
  padding: 5% 0% 5% 0%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#add-supplementary-notes {
  border: none;
  outline: none;
  width: 98%;
  height: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.add-file {
  background-color: white;
  padding: 5% 0% 5% 0%;
  margin: 5% 0% 5% 0%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.add-step-input input {
  outline: none;
  border: none;
  font-size: 12px;
}

.pick-a-category {
  background-color: white;
  padding: 5% 0% 5% 0%;
}

.remainder {
  background-color: white;
  margin: 2% 0% 2% 0%;
}

.remainder ul {
  list-style: none;
  padding: 0%;
}

#right span {
  display: inline-block;
  width: 85%;
  font-size: 12px;
}

.remainder li span {
  padding: 5% 0% 5% 0%;
  border-bottom: 1px solid #e6e4e4;
}

#right i {
  display: inline-block;
  width: 9%;
  font-size: 12px;
  color: 767678;
  padding-left: 3%;
}

#right {
  background-color: #f4f4f4;
  display: inline-block;
  width: 24%;
  padding: 0.75%;
  vertical-align: top;
  display: none;
}

#checkbox-input-right {
  display: inline-block;
  width: 3%;
}

#set-sub-task-name {
  display: inline-block;
  width: 78%;
  border: none;
  outline: none;
}

#center-shrunk {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 1%;
}

#center {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding-left: 1%;
}

#center i {
  font-size: 9px;
}

#center span {
  font-family: Verdana;
  font-size: 8x;
  color: #2c82e8;
}

.new-task-category-input input {
  outline: none;
  border: none;
  font-size: 12px;
  background-color: #f4f4f4;
}

.icons-bottom {
  bottom: 0px;
  position: absolute;
  bottom: 0%;
  width: 20%;
}

.icons-bottom i {
  display: inline-block;
  color: #c7cacc;
  padding: 5%;
}

#existing-task-list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.add-task-border {
  padding-top: 1%;
  border-bottom: 1px solid #2c82e8;
}

#existing-task-list input {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#existing-task-list span {
  display: inline-block;
  width: 90%;
}

#changeIconBlue {
  color: blue;
}

#existing-task-list i {
  font-size: 12px;
  float: right;
}

#existing-task-list li {
  border-bottom: 1px solid #b8b3b3;
  padding: 1% 0% 1% 0%;
  font-size: 12px;
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

#left-navigation {
  padding: 0px;
  font-size: 11px;
  font-family: sans-serif;
  max-height: 300px;
}

#left-navigation, #existing-task-list span {
  cursor: pointer;
}

#left-navigation li:hover {
  background-color: #cec8c8;
}
/*# sourceMappingURL=styles.css.map */