$hover:rgb(238, 235, 235);
.container {
    font-size: 14px;
    li {
        &:hover {
          background-color: $hover;
        }
        span {
            cursor: pointer;
        }
    }
    input {
        border:none;
        outline: none;
    }
    .input-task:hover {
        background-color: white;
    }
}
