$hover:rgb(238, 235, 235);
$icon:rgb(173, 171, 171);
.container {
    height: 565px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: auto;
    i {
        color: $icon;
    }
    input {
        border: none;
        outline: none;
    }
    li {
        &:hover {
          background-color: $hover;
        }
        span {
            cursor: pointer;
        }
    }
    
}
