<div class = "container m-0 p-0 ">
<top-bar></top-bar>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <left-side (taskCategoryNameChanged)="onTaskCategoryChange($event)">
        </left-side>
    </div>
    <div class="col-lg-9 col-md-9 middle-container">
        <center-part [taskCategory]="taskCategory" (taskNameClicked)="onTaskNameClicked($event)">
        </center-part>
    </div>
    <div class="right-container d-none">
        <right-part [task]="task"></right-part>
    </div>
</div>
</div>