$searchBar:#badef7;
$navBar:#0078D7;
input {
    border:none;
    outline: none;
    background-color: $searchBar;
}
.navbar {
    background-color: $navBar;
    .input-group  {
        background-color: $searchBar;
        .search {
            background-color: $searchBar;
        }
    }
}

