$topBar:#0078D7;
$topBarIcons:rgb(255, 255, 255);
$left:#f4f4f4;
$searchBar:#badef7;
$searchBarIcon:rgb(114, 114, 199);
$icons:rgb(173, 171, 171);
$leftHover:rgb(253, 253, 253);
$boxShadow:rgba(0,0,0,0.1);
$border:#e6e4e4;
$fontColor:rgb(87, 85, 85);