body {
  margin: 0px;
}

body input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

body input {
  border: none;
  outline: none;
}

body ul {
  list-style: none;
}

body ul span {
  cursor: pointer;
}

body .top {
  display: block;
  background-color: #0078D7;
  padding: 6px 0px 6px 2px;
}

body .top a {
  display: inline-block;
  width: 28%;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

body .top i {
  padding-right: 15px;
  color: white;
  font-size: 12px;
}

body .top .top-left {
  display: inline-block;
  width: 33%;
}

body .top .top-center {
  display: inline-block;
  width: 29%;
}

body .top .top-right {
  display: inline-block;
  width: 36%;
  text-align: right;
}

body .top .search {
  display: inline-block;
  width: 100%;
  background-color: #badef7;
  border-radius: 2px;
  padding: 1px;
  height: 1.4em;
  vertical-align: center;
}

body .top .search input {
  background-color: #badef7;
  width: 85%;
}

body .top .search i {
  color: #7272c7;
  background-color: #badef7;
  font-size: 12px;
  padding-left: 2px;
}

body .top .login-name {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-size: 10px;
  padding: 0.55%;
}

body .left-container {
  background-color: #f4f4f4;
  display: inline-block;
  width: 21.7%;
  height: 465px;
  color: #575555;
}

body .left-container i {
  color: #adabab;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  width: 5%;
}

body .left-container .toggle-icon {
  padding: 10px 15px 0px 15px;
  color: #0078D7;
}

body .left-container ul {
  list-style: none;
  padding: 0px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 350px;
  overflow: auto;
}

body .left-container ul li:hover {
  background-color: #fdfdfd;
}

body .left-container .new-task-category-input input {
  font-size: 12px;
  background-color: #f4f4f4;
  font-size: 10px;
}

body .left-container .icons-bottom {
  bottom: 0px;
  position: absolute;
  bottom: 0%;
  width: 27%;
  font-size: 15px;
}

body .left-container .icons-bottom i {
  padding: 14px;
}

body .left-container .icons-bottom i:hover {
  background-color: #fdfdfd;
}

body .center-container {
  display: inline-block;
  width: 76%;
  vertical-align: top;
  padding-left: 10px;
  max-height: 465px;
  overflow: auto;
}

body .center-container i {
  font-size: 9px;
}

body .center-container span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12x;
}

body .center-container .center-title span {
  display: inline-block;
  padding: 30px 0px 25px 0px;
}

body .center-container .center-title i {
  display: inline-block;
}

body .center-container .icon-add-new-task {
  color: #0078D7;
  padding-top: 0%;
}

body .center-container input {
  font-size: 12px;
  width: 94%;
  padding: 0px 0px 4px 4px;
}

body .center-container ul {
  padding: 0px;
  margin: 0px;
}

body .center-container ul input {
  display: inline-block;
  width: 30px;
  text-align: center;
}

body .center-container ul span {
  vertical-align: top;
}

body .center-container ul i {
  font-size: 12px;
  float: right;
  color: grey;
}

body .center-container ul li {
  border-bottom: 1px solid #e6e4e4;
  padding: 15px 0px 15px 0px;
  font-size: 12px;
}

body .center-container ul li:hover {
  background-color: #fdfdfd;
}

body .center-container .add-task-border {
  padding-top: 4px;
  border-bottom: 1px solid #e6e4e4;
}

body .center-container-shrunk {
  width: 75%;
}

body .right-container-hidden {
  display: none;
}

body .right-container {
  display: inline-block;
  background-color: #f4f4f4;
  width: 24%;
  padding: 0px 10px 5px 10px;
  vertical-align: top;
  max-height: 445px;
  overflow: auto;
  color: grey;
  font-size: 12px;
}

body .right-container span {
  display: inline-block;
  width: 81%;
  font-size: 12px;
}

body .right-container .sub-task {
  padding: 0px;
}

body .right-container .sub-task input {
  padding-right: 5px;
}

body .right-container .sub-task li {
  list-style: none;
  border-bottom: 1px solid #e6e4e4;
  padding: 1% 0% 1% 0%;
}

body .right-container .sub-task span {
  vertical-align: top;
  font-size: 14px;
}

body .right-container div {
  background-color: white;
  margin: 14px 0px 14px 0px;
  padding: 9px 0px 9px 0px;
}

body .right-container .add-step {
  padding: 0px 14px;
}

body .right-container .add-to-my-day {
  color: blue;
}

body .right-container .add-supplementary-notes {
  width: 98%;
  height: 100%;
  border: 0px;
  outline: 0px;
}

body .right-container .sub-task-name {
  padding-bottom: 0%;
}

body .right-container .sub-task-name i {
  float: right;
}

body .right-container .add-step-input {
  padding-top: 0%;
}

body .right-container .add-step-input i {
  padding-left: 3px;
}

body .right-container .remainder {
  padding: 1px 0px 1px 0px;
}

body .right-container .remainder ul {
  padding: 0px;
}

body .right-container .remainder ul li span {
  padding: 12px 0px 12px 0px;
  border-bottom: 1px solid #e6e4e4;
}

body .right-container .remainder ul .last-list span {
  border-bottom: 0px;
}

body .right-container i {
  display: inline-block;
  width: 20px;
  font-size: 12px;
  color: #adabab;
  padding: 0px 10px 0px 10px;
}

body .right-container .checkbox-input-right {
  display: inline-block;
}

body .right-container .set-sub-task-icon {
  float: right;
}

body .right-container .set-sub-task-name {
  font-size: 15px;
  width: 65%;
  vertical-align: top;
}
/*# sourceMappingURL=styles.css.map */