@import url(../styles/colors.scss);
body {
    margin: 0px;
    height: 465px;
    input[type=checkbox]:checked  + span {
        text-decoration: line-through;
    }
    input {
        border: none;
        outline: none;
    }
    ul  {
        list-style: none;
        span {
            cursor : pointer;
        }
    }
    .top {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        background-color: $topBar;
        padding: 6px 0px 6px 2px;
        a {
            display: inline-block;
            width: 28%;
            text-decoration: none;
            color: $topBarIcons;
            font-size: 12px;
            font-weight: 700;
        }
       i {
            padding-right: 15px;
            color: $topBarIcons;
            font-size: 12px;
        }
        .top-left {
            display: inline-block;
            width: 33%;
        }
        .top-center {
            display: inline-block;
            width: 29%;
        }
         .top-right {
           display: inline-block;
           width: 36%;
           text-align: right;
        }
        .search {
             display: inline-block;
             width: 100%;
             background-color: $searchBar;
             border-radius: 2px;
             padding:1px;
             height: 1.4em;
             vertical-align: center;
             input {
                 background-color: $searchBar;
                 width: 85%;
             }
             i {
                 color: $searchBarIcon;
                 background-color: $searchBar; 
                 font-size: 12px;
                 padding-left: 2px;
             }
         }
         .login-name {
             display: inline-block;
             border-radius: 50%;
             border: 1px solid $topBarIcons;
             color: $topBarIcons;
             font-size: 10px;
             padding: 0.55%;
         }
    }
    .left-container {
        background-color: $left;
        display: inline-block;
        width: 21.7%;
        color: $fontColor;
        font-family: Arial, Helvetica, sans-serif;
        i {
            color: $icons;
            display: inline-block;
            padding: 10px 15px 10px 15px;
            width: 5%;
        }
        .toggle-icon {
            padding: 10px 15px 0px 15px;
            color: $topBar;
        }
        ul {
            list-style: none;
            padding: 0px;
            font-size: 11px;
            max-height: 350px;
            overflow: auto;
            li:hover {
                background-color: $leftHover;
            }
        }
        .new-task-category-input {
            input {
                font-size: 12px;
                background-color: $left;
                font-size: 10px;
            }
        }
        .icons-bottom {
            bottom: 0px; 
            position: absolute;
            bottom: 0%;
            width: 27%;
            font-size: 15px;
            i {
                padding: 14px;
                &:hover {
                    background-color: $leftHover;
                }
            }
        } 
    }
    .center-container {
        display: inline-block;
        width: 76%;
        vertical-align: top;
        padding-left: 10px;
        overflow: auto;
        font-family: Arial, Helvetica, sans-serif;
        i {
            font-size: 9px;
        }
       span {
            font-size: 12x;
        }
        .center-title {
             span{
                display: inline-block;
                padding:30px 0px 25px 0px;
             } 
            i {
               display: inline-block;
            }
    }
        .icon-add-new-task {
            color: $topBar;
            padding-top: 0% ;
        }
        input {
            font-size: 12px;
            width: 94%;
            padding: 0px 0px 4px 4px;
        }
        ul {
            padding: 0px ;
            margin: 0px;
            input {
                 display: inline-block;
                 width: 30px;
                 text-align: center;
             }
             span {
                 vertical-align: top;
             }
             i {
                 font-size: 12px;
                 float: right;
                 color: grey;
             }
             li {
                 border-bottom: 1px solid $border;
                 padding: 15px 0px 15px 0px ;
                 font-size: 12px;
                 &:hover {
                    background-color: $leftHover;
                 }
             }
        }
        .add-task-border {
            padding-top: 4px;
            border-bottom: 1px solid $border;
        } 
    }
    .center-container-shrunk{
        width: 75%;
    }
    .right-container-hidden {
         display: none;
    }
    .right-container {
        display: inline-block;
        background-color: $left;
        width: 24%;
        padding: 0px 10px 5px 10px;
        vertical-align: top;
        max-height: 445px;
        overflow: auto;
        color: grey;
        font-size: 12px;
        span {
            display: inline-block;
            width: 81%;
            font-size: 12px;
        }
        .sub-task  {
            padding: 0px;
           input {
               padding-right: 5px;
           }
           li {
            list-style:none;
            border-bottom: 1px solid $border;
            padding: 1% 0% 1% 0% ;
          }
          span {
            vertical-align: top;
            font-size: 14px;
          }
        }
        div {
            background-color: $topBarIcons;
            margin: 14px 0px 14px 0px;
            padding: 9px 0px 9px 0px;
        }
        .add-step { 
             padding: 0px 14px;
        }
        .add-to-my-day {
            color: blue;
        }
        .add-supplementary-notes {
            width: 98%;
            height: 100%;
            border: 0px;
            outline: 0px;
        }
        .sub-task-name {
            padding-bottom: 0%;
            i {
                float : right;
            }
        }
        .add-step-input {
            padding-top: 0%; 
            i {
                padding-left: 3px;
            }
        }
        .remainder {
            padding: 1px 0px 1px 0px;
            ul {
                padding: 0px;
                li span {
                    padding: 12px 0px 12px 0px;
                    border-bottom: 1px solid $border;
                }
                .last-list span{
                    border-bottom: 0px;
                }
            }
        }
        i {
            display: inline-block;
            width: 20px;
            font-size: 12px;
            color: $icons;
            padding: 0px 10px 0px 10px;
        }
        .checkbox-input-right {
            display: inline-block;
        }

        .set-sub-task-icon {
            float: right;
        }
        .set-sub-task-name {
            font-size: 15px;
            width: 65%;
            vertical-align: top;
        }
    }
}